*{
    margin: 0;
    padding: 0;
}
#navbar{
    display: flex;
    /* justify-content: space-around; */
    border: 1px solid #2874f0;
    background-color: #2874f0;
    height: 50px;
}
#src11{
    height: 20px;
    margin-top: 10px;
    margin-bottom: -6px;
}
#first_div{
    margin-left: 15%;
    width: 8%;
    margin-bottom: 5px;
}
#first_div>p>#anch{
    text-decoration: none;
    font-style: italic;
    font-size: 13px;
    color: white;
}
#sec_div{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 8px;
    margin-bottom: 7px;
    width: 30%;
    display: flex;

}
#sec_div>input{
    width: 100%;
    border: 1px solid transparent;
    background-color: #fff;
    border-radius: 2px;
    padding:10px 20px;
    /* margin-bottom: 1px; */
    /* width: 100%; */
}
#sec_div>img{
    height: 30px;
    /* border: 1px solid transparent; */
    /* margin: 0px; */
    margin-left: -35px;
    margin-top: 3px;
}
#third_div>img{
   height: 20px;
}
