*{
    margin: 0;
    padding: 0;
  
}
body{
    background-color: black;
}
#navbar{
    display: flex;
    justify-content: space-between;
     background-color: white;
}
#navbar>div:nth-child(2){
    display: flex;
    margin-right: 20px;
    margin-top: 15px;
}
#navbar>div:nth-child(2)>p>a{
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
    /* background-color: white; */
}
#navbar>div:nth-child(2)>p>a:hover{
    border-radius: 10px;
    background-color: rgb(16, 202, 235);
}
#navbar>div:nth-child(1)>h1{
    background-color: white;
    font-size: 28px;
    padding: 10px;
}
#navbar>div:nth-child(1)>h1>span{
    color: rgb(34, 210, 223);
    background-color: white;
    font-size: 28px;
    padding: 10px;
}

/* Home Section */
#home{
    /* height: 530px; */
    color: white;
    margin-left: 37%;
   margin-top: 40px;
}
#home>h2{
  
    margin-top: 20px;
    margin-left: 45px;
}

/* Aboutme */
#about{
    margin-top: 50px;
}
#ab{
    display: grid;
    grid-template-columns: repeat(2,600px);
    grid-template-rows: repeat(1,300px);
    gap:20;
}
#ab>div:nth-child(1)>img{
    border: 1px solid white;
    border-radius: 7px;
    margin-top: 20px;
    margin-left: 40px;
    height: 280px;
    width: 60%;
    /* width: 30%; */
}

#ab>div:nth-child(2)>p{
   color: white;
   font-size: 22px;
   margin-top: 20px;
}
#ab>div:nth-child(2)>button{
    margin-top: 20px;
    /* margin: 20px; */
    color: white;
    height: 64px;
    padding: 20px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 22px;
   
 }
 #ab>div:nth-child(2)>button>a{
    text-decoration: none;
 }


/* skills */
#skills{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    margin-left: 55px;
  
    gap: 10px;
   
}
/* #skills>div{
    border: 1px solid red;
    border-radius: 5%;
} */
#skills>div>img{
    height: 150px;
    border: 1px solid black;
    border-radius: 15%;
    /* margin: 20px; */
    /* margin-left: 80px; */
    /* width: 20%; */
}
#upskill{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
   
    margin-bottom: 20px;
    margin-right: 30px;
    margin-left: 30px;
    /* gap: 20px; */
}
#upskill>div:nth-child(2){
    display: flex;
}
#upskill>div:nth-child(1){
    display: flex;
}
#upskill>div:nth-child(1)>div:nth-child(1)>input{
    padding: 15px;
    border: 1px solid rgb(17, 156, 231);
    border-radius: 8px;
    background-color: rgb(34, 210, 223);
}
#upskill>div:nth-child(1)>div:nth-child(1)>button{
    padding: 15px;
cursor: pointer;
    border: 1px solid rgb(17, 156, 231);
    border-radius: 8px;
    background-color: rgb(34, 210, 223);
}
#upskill>div:nth-child(1)>div:nth-child(2){
    margin-left: 20px;
  }
  #upskill>div:nth-child(1)>div:nth-child(2)>input{
      padding: 15px;
      border: 1px solid rgb(17, 156, 231);
      border-radius: 8px;
      background-color: rgb(34, 210, 223);
  }
  #upskill>div:nth-child(1)>div:nth-child(2)>button{
      padding: 15px;
      cursor: pointer;
      border: 1px solid rgb(17, 156, 231);
      border-radius: 8px;
      background-color: rgb(34, 210, 223);
  }
#upskill>div:nth-child(2)>#Hard_skill{
  
    padding: 20px;
    border: 1px solid rgb(17, 156, 231);
    border-radius: 20px;
    background-color: rgb(34, 210, 223);
}
#upskill>div:nth-child(2)>#Hard_skill>p{
    text-align: center;
    /* padding-left: 20px;
    padding-right: 20px; */
    color: black;;

    cursor: pointer;
    font-size: 30px;
}

#upskill>div:nth-child(2)>#soft_skill{
    border: 1px solid rgb(17, 156, 231);
    border-radius: 20px;
    background-color: rgb(34, 210, 223);
    margin-left: 10px;
}
#upskill>div:nth-child(2)>#soft_skill>p{
    text-align: center;
    padding: 20px;
    color: black;;
    cursor: pointer;
    font-size: 30px;
}

/* Project */
#inputbox{
    margin: 15px;
}
#inputbox>input{
    padding: 15px;
    border: 1px solid rgb(17, 156, 231);
    border-radius: 8px;
    background-color: rgb(34, 210, 223);
}
#inputbox>button{
    cursor: pointer;
    width: 10%;
    padding: 12px;
    font-size: 15px;
    font-weight: bolder;
    border: 1px solid rgb(17, 156, 231);
    border-radius: 8px;
    margin-left: 20px;
    background-color: rgb(236, 13, 173);
}
#project>div:nth-child(2)>p{
    color: white;
   
}